<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:postgresql://localhost:5432/DBFoodSite</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>postgres</param-value>
    </context-param>
    
    <listener>
        <listener-class>listeners.EatItHereAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowResults</servlet-name>
        <servlet-class>servlets.ShowResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>servlets.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwRecoveryServlet</servlet-name>
        <servlet-class>servlets.PwRecoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>servlets.AddRestaurant</servlet-class>
        <init-param>
        <param-name>uploadDir</param-name>
        <param-value>/home/gianma/NetBeansProjects/TestGit/progWeb420/web/media/images</param-value>
        </init-param>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>servlets.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowResults</servlet-name>
        <url-pattern>/ShowResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PwRecoveryServlet</servlet-name>
        <url-pattern>/PwRecoveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
